

/*-----------------------Navbar----*/





/*----------------------Hero image section---*/

.hero-image {
    background-image: url("../images/tokyostreet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    max-width: 100%;
    position: relative;
}

.hero-text-box {
    color: #fafafa;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 20%;
    margin-top: 25%;
    height: 50%;
}

.explore-btn {
    border: solid white 2px;
    background-color: transparent;
    color: white;
}

/*----------------------About Section---*/

.about-hdg {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto;
}

.about-para {
    text-align: center;
    margin: auto;
}

/*----------------------Footer   ---*/

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.list-inline-item {
    margin: auto;
    padding-right: 50px;
}